anaconda
bqplot
conda
conda-forge
Flask
ipykernel
ipython
ipython-genutils
ipyvolume
ipywidgets
Jinja2
joblib
jovian
jupyter
kaggle
matplotlib
matplotlib-inline
numpy
pandas
plotly
scikit-learn
scipy
seaborn
voila