anaconda
bqplot
conda
Flask
ipykernel
ipympl
ipython
ipython-genutils
ipyvolume
ipywidgets
Jinja2
joblib
jovian
jupyter
kaggle
matplotlib
matplotlib-inline
numpy
pandas
plotly
scikit-learn
scipy
seaborn
voila