aiohttp
aiosignal
alabaster
anaconda-client 
ansi2html
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites
attrs
Automat
autopep8
anaconda
bqplot
certifi
chardet
conda
Flask
gunicorn
ipykernel
ipympl
IPython
ipython
ipython-genutils
ipyupload
ipyvolume
ipywidgets
Jinja2
joblib
jovian
jupyter
kaggle
matplotlib
matplotlib-inline
numpy
pandas
plotly
requests
scikit-learn
scipy
seaborn
voila
voila-material
Werkzeug
